h1 {
    background-color: rgb(156, 16, 16);
    color: white;
    padding: 5px;
    text-align: center;
}

img{
    max-width:400px;
    max-height:200px;
    width: auto;
    height: auto;
}

img{
    max-width:300px;
    max-height:200px;
    width: auto;
    height: auto;
}

h1 {
    background-color: rgb(156, 16, 16);
    color: white;
    padding: 5px;
    text-align: center;
}

h1 {
    background-color: rgb(156, 16, 16);
    color: white;
    padding: 5px;
    text-align: center;
}